<template>
  <div id="app">
    <router-view/>
    <!--<crud></crud>-->
  </div>
</template>

<script>
  import crud from './components/QuestionsCRUD'

  export default {
    name: 'app',
    components: {
      crud
    }
  }
</script>

